<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light border-bottom box-shadow mb-3" style="background-color: #3996C1; white-space: nowrap;">
        <div class="container m-0">
            <a class="navbar-brand" style="white-space: nowrap;" [routerLink]="['/']">Risker Work Manager</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-end w-100"
                 [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['link-active']" [routerLink]="['/']">Home</a>
                    </li>
                    <li *ngIf="user == null" class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/login']">Login</a>
                    </li>
                    <li *ngIf="user == null" class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/register']">Sign up</a>
                    </li>
                    <li *ngIf="user != null" class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/projects']">Projects</a>
                    </li>
                    <li *ngIf="accountService.isUserHaveAccess(accountService.Roles_List)" class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/register']">test permission</a>
                    </li>
                    <li *ngIf="user?.isAdmin" class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/administration']">Administration</a>
                    </li>
                    <li *ngIf="user != null" class="nav-item">
                        <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/profile']">{{accountService.getCurrentUser()?.email}}</a>
                    </li>
                    <li *ngIf="user != null" class="nav-item">
                        <a class="nav-link text-dark" href="#" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
