<form [formGroup]="featureForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add new feature</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="title">
                        <mat-error *ngIf="featureForm.get('name')?.invalid && (featureForm.get('name')?.dirty || featureForm.get('name')?.touched)">{{getErrorMessage('title')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="6" formControlName="content"></textarea>
                        <mat-error *ngIf="featureForm.get('content')?.invalid && (featureForm.get('content')?.dirty || featureForm.get('content')?.touched)">{{getErrorMessage('content')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!featureForm.valid" color="primary" type="submit">
                Save
                <span class="spinner-border spinner-border-sm" *ngIf="showLoader" role="status" aria-hidden="true"></span>
            </button>
        </mat-card-actions>
    </mat-card>
</form>

