/.vs/
/RiskerWorkManager/ClientApp/.angular/
/WorkManagerDal/bin/
/WorkManagerDal/obj/
/RiskerWorkManager/WorkManager.db
/RiskerWorkManager/WorkManager.db-shm
/RiskerWorkManager/WorkManager.db-wal
/RiskerWorkManager/ClientApp/package-lock.json
