<button mat-raised-button color="primary"[disabled]="isDisableEditRole" (click)="openDialog()" type="button">
    Change user role
</button>&nbsp;
<button mat-raised-button color="primary"[disabled]="isDisableEditBlock" (click)="changeUserBlockStatus()" type="button">
    Change user block status
</button>&nbsp;
<button mat-raised-button color="primary"[disabled]="isDisableEditAdmin" (click)="editAdminRights()" type="button">
    Edit admin rights
</button>
<ag-grid-angular style="width: 100%; margin-top: 10px;" [style.height.px]="gridHeight"
                 class="ag-theme-alpine"
                 [rowData]="users"
                 rowSelection="single"
                 [columnDefs]="columnDefs"
                 (gridReady)="onGridReady($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 [animateRows]="true"></ag-grid-angular>
