<div class="container">
  <h1 class="link-active">Risker | Ihre Access/Excel Programmierer (VBA/SQL)</h1>
  <h2>Wer wir sind</h2>
  <p>Die Risker Anwendungsentwicklung GmbH aus Berlin wurde 2011 vom jetzigen Geschäftsführer Boris Risker nach über
    10-jähriger Tätigkeit als selbständigem Excel und Access Entwickler gegründet.</p>
  <p>Ihre MS Access Programmierer erstellen maßgeschneiderte Desktop-Anwendungen, oft unter Verwendung von MS SQL
    Server. Unsere MS Excel Programmierer entwickeln komfortable Kalkulationsprogramme. </p>
  <p>Unsere Mission ist die schnelle und günstige Erstellung professioneller, individueller Anwendungen für die
    effektive und effiziente Durchführung und Kontrolle Ihrer Geschäftsprozesse.</p>
</div>