<mat-toolbar *ngIf="isEnableEdit">
    <button mat-raised-button type="button" (click)="navigateToEdit()">
        <mat-icon>edit_square</mat-icon>
        Edit project
    </button>&nbsp;
    <button mat-raised-button type="button" (click)="openAddUserDialog()">
        <mat-icon>person_add</mat-icon>
        Add user to project
    </button>&nbsp;
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{project.title}}
        </mat-card-title>
        <mat-card-subtitle class="float-end">
            {{project.dateCreated | date:'shortDate'}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            Created: {{project.userCreated.email}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{project.description}}
        </p>
        <mat-action-list *ngIf="project.usersHasAccess != null && project.usersHasAccess.length > 0">
            <div mat-subheader>Users</div>
            <mat-list-item *ngFor="let user of project.usersHasAccess"
                (click)="removeUserFromProject(user.user.email!)">
                <mat-icon *ngIf="isEnableEdit" matListItemIcon>close</mat-icon>
                <mat-icon matListItemIcon>person</mat-icon>
                {{user.user.email}}
            </mat-list-item>
        </mat-action-list>
        <div class="row">
            <div class="col">
                <div mat-subheader>Files</div>
                <input #file type="file" id="customFile" multiple (change)="upload(file.files)" />
            </div>
        </div>
        <div class="row p-1" *ngFor="let item of files">
            <div class="col">
                <button mat-raised-button (click)="removeFile(item)">
                    <mat-icon>close</mat-icon>
                </button>&nbsp;
                <button mat-raised-button (click)="viewFile(item)">{{item}}</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>