<mat-toolbar *ngIf="isEnableEdit">
    <button mat-raised-button type="button" (click)="navigateToEdit()">
        <mat-icon>edit_square</mat-icon>
        Edit project
    </button>&nbsp;
    <button mat-raised-button type="button" (click)="openAddUserDialog()">
        <mat-icon>person_add</mat-icon>
        Add user to project
    </button>&nbsp;
</mat-toolbar>
<mat-label>Description</mat-label>
<h3>{{project.description}}</h3>
<mat-label>Content</mat-label>
<p>{{project.content}}</p>
<mat-list *ngIf="project.usersHasAccess != null">
    <div  mat-subheader>Users</div>
    <mat-list-item *ngFor="let user of project.usersHasAccess">
        <mat-icon matListItemIcon>person</mat-icon>
        {{user.user.email}}</mat-list-item>
</mat-list>