/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a.link-admin {
  color: #3996C1 !important;
}
a.active {
  /* color: white !important; */
  background-color: white !important;
  border-left: #3996C1 solid 3px !important;
  border-radius: 0 !important;
}

.pointer{
  cursor: pointer !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

button.mat-primary {
  background-color: #3996C1 !important;
  color: black !important;
}

button.mat-primary:disabled {
  background-color: grey !important;
  color: black !important;
}

mat-card {
  box-shadow: 2px 3px 6px gray !important;
  background-color: floralwhite !important;
}
.mat-form-field-ripple {
  background-color: #3996C1 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #3996C1 !important;
}

.form-card {
  min-width: 120px;
  margin: 20px auto;
}

.full-width {
  width: 100%;
}

.link-active
{
  font-weight: bold;
  color: green !important;
}

.color-active{
  color: green;
}

.text-noworap {
  white-space: nowrap;
}

html, body, app-root, app-administration {
  height: 100%;
  padding: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
