<div class="container">
    <mat-toolbar *ngIf="accountService.isUserHaveAccess(accountService.Add_Project)">
        <button mat-raised-button (click)="openAddDialog()" type="button">
            <mat-icon>add</mat-icon>
            Add new project
        </button>
    </mat-toolbar>
    <mat-list>
        <div *ngIf="myProjects.length > 0" mat-subheader>My projects</div>
        <mat-list-item class="pointer" *ngFor="let myProject of myProjects" (click)="navigateTo(myProject.id)">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <div matListItemTitle>{{myProject.title}}</div>
            <div matListItemLine>{{myProject.description}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div *ngIf="myAccessProjects.length > 0" mat-subheader>My work projects</div>
        <mat-list-item class="pointer" *ngFor="let myProject of myAccessProjects" (click)="navigateTo(myProject.id)">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <div matListItemTitle>{{myProject.title}}</div>
            <div matListItemLine>{{myProject.description}}</div>
        </mat-list-item>
    </mat-list>
    <div *ngIf="myProjects.length == 0 && myAccessProjects.length == 0">
        <h1>You don`t have any project</h1>
    </div>
</div>