<div class="container">
    <mat-toolbar>
        <button mat-raised-button (click)="openAddDialog()"
            *ngIf="accountService.isUserHaveAccess(accountService.Add_Project)" type="button">
            <mat-icon>add</mat-icon>
            Add new project
        </button>
    </mat-toolbar>
    <mat-list>
        <div *ngIf="myProjects.length > 0" mat-subheader>My projects</div>
        <mat-list-item class="pointer" *ngFor="let myProject of myProjects" (click)="navigateTo(myProject.id)">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <div matListItemTitle>{{myProject.title}}</div>
            <div matListItemLine>{{myProject.content}}</div>
        </mat-list-item>
        <!-- <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{note.name}}</div>
      <div matListItemLine>{{note.updated | date}}</div>
    </mat-list-item> -->
    </mat-list>

</div>