<form [formGroup]="commentForm" novalidate (ngSubmit)="save()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Comment</mat-label>
                        <textarea matInput rows="6" formControlName="content"></textarea>
                        <mat-error
                            *ngIf="commentForm.get('content')?.invalid && (commentForm.get('content')?.dirty || commentForm.get('content')?.touched)">
                            {{getErrorMessage('content')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div mat-subheader>Files</div>
                    <input #file type="file" id="customFile" multiple (change)="addFilesToUpload(file.files)" />
                </div>
            </div>
            <div class="row p-1" *ngFor="let item of files">
                <div class="col">
                    <button mat-raised-button (click)="removeFile(item)">
                        <mat-icon>close</mat-icon>
                    </button>&nbsp;
                    <button mat-raised-button (click)="viewFile(item)">{{item}}</button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="delete()">
                Delete
            </button>&nbsp;
            <button mat-raised-button [disabled]="!commentForm.valid" color="primary" type="submit">
                Save
                <span class="spinner-border spinner-border-sm" *ngIf="showLoader" role="status" aria-hidden="true"></span>
            </button>
        </mat-card-actions>
    </mat-card>
</form>
