<h2 class="text-center">Sign up</h2>
<form [formGroup]="userForm" novalidate (ngSubmit)="register()">
    <mat-card class="form-card col-xl-8">
        <mat-card-header>
            <mat-card-title>Login data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="email@example.com" formControlName="email">
                        <mat-error *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">{{getErrorMessage('email')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                        <mat-error *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)">{{getErrorMessage('password')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Confirm password</mat-label>
                        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
                        <mat-error *ngIf="userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)">{{getErrorMessage('confirmPassword')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-header>
            <mat-card-title>Personal data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.dirty || userForm.get('firstName')?.touched)">{{getErrorMessage('firstName')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Last nam" formControlName="lastName">
                        <mat-error *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.dirty || userForm.get('lastName')?.touched)">{{getErrorMessage('firstName')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!userForm.valid" color="primary" type="submit">
                Submit
                <span class="spinner-border spinner-border-sm" *ngIf="showLoader" role="status" aria-hidden="true"></span>
            </button>
        </mat-card-actions>
        <mat-error *ngIf="userForm.hasError('notEqualsPasswords')">
            Passwords is not equals
        </mat-error>
        <mat-error *ngIf="isEmailUse">
            This E-mail is used
        </mat-error>
    </mat-card>
</form>

