<form [formGroup]="noteForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="title">
                        <mat-error
                            *ngIf="noteForm.get('title')?.invalid && (noteForm.get('title')?.dirty || noteForm.get('title')?.touched)">
                            {{getErrorMessage('title')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="6" formControlName="content"></textarea>
                        <mat-error
                            *ngIf="noteForm.get('content')?.invalid && (noteForm.get('content')?.dirty || noteForm.get('content')?.touched)">
                            {{getErrorMessage('content')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!noteForm.valid" color="primary" type="submit">
                Save
                <span class="spinner-border spinner-border-sm" *ngIf="showLoader" role="status"
                    aria-hidden="true"></span>
                <mat-icon [class.color-active]="noteForm.valid">done_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>
