<mat-list>
    <mat-list-item class="pointer" (click)="navigateTo('features')">
        <mat-icon [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'features']" matListItemIcon>folder</mat-icon>
        <div matListItemTitle class="d-none d-md-block" [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'features']" >Features</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="pointer" (click)="navigateTo('bugs')">
        <mat-icon [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'bugs']" matListItemIcon>report</mat-icon>
        <div matListItemTitle class="d-none d-md-block" [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'bugs']">Bugs</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="pointer" (click)="navigateTo('notes')">
        <mat-icon [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'notes']" matListItemIcon>speaker_notes</mat-icon>
        <div matListItemTitle class="d-none d-md-block" [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'notes']">Notes</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="pointer" (click)="navigateTo('versions')">
        <mat-icon [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'versions']" matListItemIcon>swap_vert</mat-icon>
        <div matListItemTitle class="d-none d-md-block" [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'versions']">Versions</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="pointer" (click)="navigateTo('time-sheets')">
        <mat-icon [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'time-sheets']" matListItemIcon>timer</mat-icon>
        <div matListItemTitle class="d-none d-md-block" [routerLinkActive]="['link-active']" [routerLink]="['/project', projectId, 'time-sheets']">TimeSheet</div>
    </mat-list-item>
</mat-list>