<mat-toolbar *ngIf="isEnableEdit">
    <button mat-raised-button (click)="openNewDialog()" type="button">
        <mat-icon>add</mat-icon>
        Add new feature
    </button>&nbsp;
    <button mat-raised-button type="button" (click)="openEditDialog()">
      <mat-icon>edit_square</mat-icon>
      Edit feature
  </button>
</mat-toolbar>
<table mat-table [dataSource]="features" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="userCreated">
      <th mat-header-cell *matHeaderCellDef> User Created </th>
      <td mat-cell *matCellDef="let element"> {{element.userCreated}} </td>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef> Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
    </ng-container>

    <ng-container matColumnDef="solvedInVersion">
      <th mat-header-cell *matHeaderCellDef> Solved in version </th>
      <td mat-cell *matCellDef="let element"> {{element.solvedInVersion}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row 
    (click)="rowSelected(row)"
    [class.selected-row]="row == selectedFeature"
    *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
