<form [formGroup]="bugForm" novalidate (ngSubmit)="save()" autocomplete="off">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="title">
                        <mat-error
                            *ngIf="bugForm.get('title')?.invalid && (bugForm.get('title')?.dirty || bugForm.get('title')?.touched)">
                            {{getErrorMessage('title')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="6" formControlName="content"></textarea>
                        <mat-error
                            *ngIf="bugForm.get('content')?.invalid && (bugForm.get('content')?.dirty || bugForm.get('content')?.touched)">
                            {{getErrorMessage('content')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Resolved in version</mat-label>
                        <mat-select [(ngModel)]="selectedVersion" formControlName="version">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let item of versions" [value]="item.id">
                                {{item.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!bugForm.valid" color="primary" type="submit">
                Save
                <span class="spinner-border spinner-border-sm" *ngIf="showLoader" role="status"
                    aria-hidden="true"></span>
                <mat-icon [class.color-active]="bugForm.valid">done_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>
